body {
  background-color: #E0F2E9;
  font-family: Roboto;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

nav {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #3C887E;
  border-bottom: 5px solid white;
}

.navButton {
  position: relative;
  top: 30%;
  left: 10%;
  font-size: 20px;
  background-color: transparent;
  border: 0px solid red;
  color: white;
  transition: color 0.3s;
  text-decoration: none;
  word-spacing: 10px;
}

.navButton:hover {
  color: #E0F2E9;
}

#logo {
  position: absolute;
  height: inherit;
  width: 100px;
  background-color: #3C887E;
  color: white;
  font-size: 50px;
  letter-spacing: -5px;
  border-radius: 0px 10px 0px 0px;
  border: 5px solid white;
  box-sizing: border-box;
  transition: color 0.3s;
  text-decoration: none;
}

#logo:hover {
  color: #E0F2E9;
  border: 6px solid #E0F2E9;
}

#insta {
  position: relative;
  display: inline;
  height: 25px;
  left: 68%;
  top: 38%;
}

#facebook {
  position: relative;
  display: inline;
  height: 30px;
  left: 62%;
  top: 40%;
}

main {
  position: relative;
  height: 550px;
  width: 1000px;
  margin: 100px;
}

#eu {
  position: relative;
  display: inline;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#bio {
  position: absolute;
  display: inline;
  font-size: 40px;
  color: #3C887E;
  margin-left: 40px;
  margin-top: 0px;
  font-weight: 700;
  margin-right: 40px;
}

#hrOne {
  position: relative;
  top: 150px;
  background-color: #3C887E;
  border: 5px solid white;
  outline: 1px solid #3C887E;
  border-radius: 10px;
}

#story {
  position: relative;
  top: 200px;
  font-size: 30px;
  color: #3C887E;
}

#textC {
  color: #3C887E;
  margin: 50px;
  width: 500px;
}

#conMe {
  font-size: 40px;
  font-weight: 600;
}

#messageOne {
  font-size: 20px;
  font-weight: 500;
}

form {
  position: relative;
  width: 600px;
  height: 600px;
  left: 590px;
  bottom: 300px;
  color: #3C887E;
}

.name {
  height: 40px;
  font-size: 20px;
  border: 1px solid #E0F2E9;
  border-radius: 15px;
  text-indent: 10px;
  outline: none;
  color: #3C887E;
}

.name:hover {
  border: 1px solid #3C887E;
}

.name:focus {
  border: 2px solid #3C887E;
}

#email {
  width: 500px;
}

.textF {
  font-weight: 700;
}

::placeholder {
  color: #3C887E;
}

#messageF {
  width: 500px;
  height: 100px;
  word-break: break-word;
}

#send {
  border: 0px solid red;
  color: #3C887E;
  background-color: white;
  width: 150px;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
}

#send:hover {
  background-color: #3C887E;
  color: white;
}

#titleM {
  margin: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 10px;
  color: #3C887E;
}

.imaginiM {
  margin: 50px;
  width: 300px;
  border-radius: 10px;
}

#titleP {
  color: #3C887E;
  margin: 50px;
  font-size: 40px;
  font-weight: 600;
}

.projTitle {
  color: #3C887E;
  font-weight: 600;
}

.gitRepo {
  position: relative;
  color: #3C887E;
  margin: 0px;
}

.gitImg {
  margin-top: 10px;
  width: 500px;
  border-radius: 10px;
  border: 5px solid white;
}

.proj {
  line-height: 20px;
  background-color: white;
  width: 510px;
  border-radius: 10px;
  margin: 50px;
  border: 15px solid white;
}

#descPT {
  margin-top: 30px;
  font-weight: 600;
  color: #3C887E;
}

#descPC {
  color: #3C887E;
}

#titleR {
  color: #3C887E;
  margin: 50px;
  font-size: 40px;
  font-weight: 600;
}

#mainR {
  margin: 50px;
}

.innerTitleR {
  color: #3C887E;
  font-size: 20px;
  font-weight: 600;
}

.innerTextR {
  color: #3C887E;
  text-indent: 20px;
}

/*# sourceMappingURL=outputIndex.css.map */
